body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin:0;
}

/*---- HEADER ----*/
.nav_header{
    font-family: 'DM Serif Display', serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 50px;

    color:rgb(0, 0, 0);
    font-size: 1.5em;
}

.nav_header h1{
    position:absolute;
    left:88px;
    top:0; 
    margin: 0;
    padding-top: 27px;

}

.logo img{
    width: 1in;
    height: 1in;

    position:absolute;
    left:0;
    top:0;  

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

/*---- NAVIGATION ----*/
.nav_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    
    list-style: none;
    font-family:'Montserrat', sans-serif;
    font-size: 0.6em;
    padding-top: 30px;
}

.nav_list li a{
    color:black;
    text-decoration: none;
    padding: 20px;
    margin: 0;

    cursor: pointer;
}

.nav_list li a:hover {
    text-decoration: underline;
}

/*---- HOME ----*/
.home_container{
    margin:0;
    padding-top: 60px;
}
.home_container h1,h3, p{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    padding-top: 15px;
    padding-right: 80px;
    margin: 0;
}

.home_imgs img{
    width: 500px;
    height: 500px;
    
    margin-top: -150px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.home_title{
    font-size: 40px;
    font-weight: bolder;
}
.home_subtitle{
    font-size: 30px;
    font-weight: bold;
}

/*---- LOGSIGN BOX ----*/
.center-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.log_sign{
    width: 800px;
    max-width: 800px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgb(0, 0, 0); 
    border-radius: 8px;
    background: white;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log_sign,
.form__input,
.form__button{
    font: 500 1rem;
    
}

/*---- FORMS ----*/
.form--hidden {
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}
.form > *:last-child{
    margin-bottom: 0;
}

.form__title{
    margin: 2rem;
    text-align: center;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;

}
.form__message--success{
    color: rgb(42, 86, 66);
}

.form__message--error{
    color: rgb(135, 38, 38);
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid grey;
    outline: none;
    background: white;

    transition: background 0.2s, border-color grey;
}

.form__input:focus{
    border-color: blue;
    background: white;
}

.form__input--error {
    color: rgb(135, 38, 38);
    border-color: rgb(135, 38, 38);

}

.form__input--error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: rgb(135, 38, 38);
}

.form__button {
    width:100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    outline: none;
    background:rgb(42, 86, 66);
    color: white;
}

.form__button:hover {
    background-color: rgb(22, 45, 34);
    cursor: pointer;
}

.form__button:active {
    transform: scale(0.98);

}

.form__text {
    text-align: center;
}

.form__link {
    color: rgb(42, 86, 66);
    text-decoration: none;
    cursor: pointer;
}
.form__link:hover {
    text-decoration: underline;
}

/*---- TRACK ----*/
.track{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 22px;
}

.progBar {
    width: 30px;
    height: 30px;
    background-color: #04AA6D;
    text-align: center; 
    line-height: 30px; 
    color: rgb(178, 74, 74); 
}

/*----- PROFILE -----*/
.profile{
    box-shadow: 0 4px 8px grey;
    max-width: 1080px;
    max-height: auto;
    margin: auto;
    text-align: start;
    border-radius: 24px;
    padding: 20px;
    overflow: auto;
}

.divider {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    padding: 20px;
    color:grey;
}

.user_log {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

}

.user_log img{
    max-height: 130px;
}

.profile h1{
    font-size: 50px;
    font-family:'DM Serif Display', serif;
}
.title{
    color: rgb(64, 130, 99);
    font-size: 20px;
}

.info{
    padding-left: 10px;
    margin:0;

    font-size: 14px;
    color: rgb(0, 90, 47);

}

.info, .stats{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    padding: 10px;

}

.stats p{
    font-size: 18px;
    border-radius: 4px;
    border: 1px rgb(164, 164, 164);
    box-shadow: 1px 1px 2px rgb(119, 119, 119), 0 0 25px rgb(132, 132, 132), 0 0 5px rgb(199, 199, 199);
    padding: 5px;
    
}

.badges {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: 24px;
    color: rgb(0, 90, 47);
}

.badges img{
    max-height: 130px;
    max-width: auto;
    padding: 20px;
}


.books img{
    max-height: 280px;
    max-width: auto;
    padding: 40px;

}

.books h2 {
    text-align: center;
    font-size: 33px;
    color: rgb(0, 90, 47);
}

.books h3 {
    display: flex;
    justify-content: flex-start;

    font-size: 25px;
    color: grey;
}

